<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--MSQL-->
    <!--<add name="ASRS" connectionString="Data Source=192.168.50.15;Initial Catalog=SDLDA;User ID=sa;Password=P@ssw0rd;Connection Timeout=5;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="APName" value="" />
    <add key="StationNumber" value="2" />
    <add key="StartAddress" value="D1000" />
    <add key="TotalAddress" value="1190" />
    <!--ORACLE 连接内容-->
    <add key="DBName" value="ORCL" />
    <add key="DBServer" value="192.168.10.170" />
    <add key="DBPort" value="1521" />
    <add key="FODBerver" value="orcl" />
    <add key="DBUser" value="ASRS" />
    <add key="DBPassword" value="ASRS,123" />
    <add key="DBConnTimeOut" value="5000" />
    <add key="DBCommandTimeOut" value="5000" />
    
    <!--<add key="AGV_Connection_IP" value="192.168.1.21" />
		<add key="AGV_Connection_Rack" value="0" />
		<add key="AGV_Connection_Slot" value="2" />
		<add key="AGV_Connection_DB" value="6" />
		<add key="AGV_StoreIn_MPLCBufferIndex" value="8" />
		<add key="AGV_StoreOut_MPLCBufferIndex" value="7" />
		<add key="AGV_GetWirteSPLCStartIndex" value="50" />
		<add key="AGV_StoreIn_SPLCAddress" value="DB6.DBW50" />
		<add key="AGV_StoreOut_SPLCAddress" value="DB6.DBW52" />-->

    
  </appSettings>
</configuration>