<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="ASRS" connectionString="Data Source=192.168.50.15;Initial Catalog=SDLDA;User ID=sa;Password=P@ssw0rd;Connection Timeout=5;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<!--<add name="ASRS" connectionString="Data Source=.;Initial Catalog=SDLDA;User ID=sa;Password=junn1322;Connection Timeout=5;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	<appSettings>
		<add key="APName" value="" />
		<add key="CraneNo" value="1" />
		<add key="StartAddress" value="D100" />
		<add key="TotalAddress" value="220" />
		<add key="AGV_Connection_IP" value="192.168.1.21" />
		<add key="AGV_Connection_Rack" value="0" />
		<add key="AGV_Connection_Slot" value="2" />
		<add key="AGV_Connection_DB" value="6" />
		<add key="AGV_StoreIn_MPLCBufferIndex" value="8" />
		<add key="AGV_GetWirteSPLCStartIndex" value="50" />
		<add key="AGV_StoreIn_SPLCAddress" value="DB6.DBW50" />
		<add key="AGV_StoreOut_SPLCAddress" value="DB6.DBW52" />
	</appSettings>
</configuration>